// Main

html {
	background-color: $background;
}

.yotta {
  font-size: 25rem;
  margin: 1rem;
  padding: 1rem;
}

a,
a:link,
a:visited {
	color: $primary-red;
	text-decoration: none;
	;
}

a:hover,
a:focus,
a:active {
	color: $hover-orange;
}

a:hover,
a:active {
	outline: none;
}

.skull, .crossbones {
	opacity: 0;
	position: relative;
}

.js-skull-fade-1 {
	-webkit-animation: ship-fade-1 1s linear forwards;
}

@-webkit-keyframes ship-fade-1 {
	0% {
		opacity: 0;
		top: 20em;
	}

	100% {
		opacity: 1;
		top: .25em;
	}
}

.js-skull-fade-2 {
	-webkit-animation: ship-fade-2 1.5s linear forwards;
}

@-webkit-keyframes ship-fade-2 {
	0% {
		opacity: 0;
		top: 17em;
	}
	100% {
		opacity: 1;
		top: .25em;
	}
}


/*
.primary-btn {
	@include button($primary, $primary-dark, #fff);
}

.secondary-btn {
	@include button($secondary-dark, #666, #fff);
}

.border {
	border: 1px solid #ccc;
	 // you can nest elements/selectors to target them more specifically
	 p {
	 	color:red;
	 }
}

ul{
	@extend .border;
}
*/
